<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="hierarchySection" type="Newstead.Api.DataModel.Models.Initialization.HierarchySection, Newstead.Api.DataModel" requirePermission="false" allowDefinition="Everywhere" allowLocation="true"/>
    </configSections>
    <hierarchySection>
        <!-- Modules Configuraion -->
        <modules>
            <module display="Activities" name="Activities" code="800" status="1">
                <modules>
                    <module display="Refund" name="Activity_Refund" code="801" status="1"/>
                    <module display="Reprint" name="Activity_Reprint" code="802" status="1"/>
                    <module display="Email" name="Activity_Email" code="803" status="1"/>
                </modules>
            </module>
            <!---->
            <module display="Cash Management" name="CashManagement" code="600" status="1">
                <modules>
                    <module display="Shift" name="Cash_Shift" code="602" status="1"/>
                    <module display="History" name="Cash_History" code="601" status="1"/>
                    <module display="Store" name="Cash_Store" code="603" status="1"/>
                    <module display="Payout" name="Cash_Payout" code="604" status="1"/>
                    <module display="Deposit" name="Cash_Deposit" code="605" status="1"/>
                    <module display="Change Payment Method" name="Cash_PaymentMethod" code="606" status="1"/>
                    <module display="Show value in store" name="Cash_ValueStore" code="607" status="1"/>
                    <module display="Show value in shift" name="Cash_ValueShift" code="608" status="1"/>
                    <module display="Show value in drawer" name="Cash_ValueDrawer" code="609" status="1"/>

                </modules>
            </module>
            <!---->
            <module display="Customers" name="Customers" code="500" status="1">
                <modules>
                    <module display="Membership" name="Cus_Membership" code="501" status="1"/>
                    <module display="None Membership" name="Cus_NoneMemberShip" code="502" status="1"/>
                </modules>
            </module>
            <!---->
            <module display="Employees" name="Employees" code="400" status="1"></module>
            <!---->
            <module display="Inventory" name="Inventory" code="1000" status="1">
                <modules>
                    <module display="Packages" name="Inv_Package" code="1002" status="1"/>
                    <module display="Promotions" name="Inv_Promotion" code="1005" status="1"/>
                    <module display="GiftCard" name="Inv_GiftCard" code="1006" status="1"/>
                    <module display="Products" name="Inv_Product" code="1001" status="1"/>
                    <module display="Services" name="Inv_Service" code="1007" status="1"/>
                    <module display="Supporting Services" name="Inv_Support" code="1003" status="1"/>
                    <module display="Discounts" name="Inv_Discount" code="1004" status="1"/>
                    <module display="View Cost Package" name="Inv_CostPackage" code="1008" status="1"/>
                    <module display="View Cost Product" name="Inv_CostProduct" code="1009" status="1"/>
                </modules>
            </module>
            <!---->
            <module display="Order Management" name="OrderManagement" code="300" status="9">
                <modules>
                    <module display="Prepare" name="OrderManagement_Prepare" code="301" status="1"/>
                    <module display="Serving" name="OrderManagement_Serving" code="302" status="1"/>
                </modules>
            </module>
            <!---->
            <module display="POS" name="Pos" code="100" status="1">
                <modules>
                    <module display="Orders" name="Pos_Order" code="108" status="1"/>
                    <module display="Split/Merge" name="Pos_SplitOrMergeORder" code="112" status="1"/>
                    <module display="Table/Pay" name="Pos_Table_Pay" code="111" status="1"/>
                    <module display="Packages" name="Pos_Package" code="102" status="1"/>
                    <module display="GiftCard" name="Pos_GiftCard" code="106" status="1"/>
                    <module display="Promotions" name="Pos_Promotion" code="104" status="1"/>
                    <module display="Discount" name="Pos_Discount" code="103" status="1"/>
                    <module display="Miscellaneous" name="Pos_Miscellaneous" code="105" status="1"/>
                    <module display="Guest Check" name="Pos_GuestCheck" code="110" status="9"/>
                    <module display="Payment" name="Pos_Payment" code="107" status="1"/>
                    <module display="Products" name="Pos_Products" code="101" status="1"/>
                    <module display="Services" name="Pos_Services" code="113" status="1"/>
                    <module display="Kick Drawer" name="Pos_KickDrawer" code="109" status="1"/>
                </modules>
            </module>
            <!---->
            <module display="Queue Management" name="QueueManagement" code="700" status="9"/>
            <module display="Printer Management" name="PrintManagement" code="1200" status="1"/>
            <module display="Booking" name="Booking" code="1300" status="1"/>
            <!---->
            <module display="Reservation" name="Reservation" code="200" status="9"></module>
            <!---->
            <module display="Settings" name="Settings" code="1100" status="1">
                <modules>
                    <module display="Detail Information" name="Set_DetailInfo" code="1101" status="1"/>
                    <module display="Software Information" name="Set_SoftwareInfo" code="1102" status="1"/>
                    <module display="Themes" name="Set_Themes" code="1103" status="1"/>
                    <module display="Ipad" name="Set_Ipad" code="1104" status="1"/>
                    <module display="General" name="Set_General" code="1105" status="1"/>
                    <module display="Currency" name="Set_Currency" code="1106" status="1"/>
                    <module display="Payment Method" name="Set_PaymentMethod" code="1107" status="1"/>
                    <module display="Tips And Service Charged" name="Set_TipServiceCharge" code="1108" status="9"/>
                    <module display="Timeslot" name="Set_Timeslot" code="1109" status="1"/>
                    <module display="Cash Drawer" name="Set_CashDrawer" code="1110" status="1"/>
                    <module display="Membership" name="Set_Membership" code="1111" status="1"/>
                    <module display="Role Setting" name="Set_RoleSetting" code="1112" status="1"/>
                    <module display="Printer" name="Set_Printer" code="1113" status="1"/>
                    <module display="Reason for cancel order" name="Set_ReasonForCancelOrder" code="1114" status="1"/>
                    <module display="Table List" name="Set_TableList" code="1115" status="1"/>
                    <module display="Redeem Rules" name="Set_RedeemRules" code="1116" status="1"/>
                    <module display="Earn Rules" name="Set_EarnRules" code="1117" status="1"/>
                    <module display="Taxes" name="Set_Taxes" code="1118" status="1"/>
                    <module display="Store" name="Set_Store" code="1119" status="1"/>
                    <module display="Void Item Reason" name="Set_VoidItemReason" code="1120" status="1"/>
                    <module display="Table Map" name="Set_TableMap" code="1121" status="1"/>
                    <module display="Job Title" name="Set_JobTitle" code="1122" status="1"/>
                </modules>
            </module>
            <module display="Time Clock" name="TimeClock" code="900" status="1"></module>
        </modules>

        <!-- Settings Configuration -->
        <settings>
            <setting name="NoSale" display="No Sale" value="false" objecttype="bool" code="30"  status="1"/>
            <setting name="IsAutoPrintGuestCheck" display="AutoPrint Guest Check" value="false" objecttype="bool" code="9"  status="9"/>
            <setting name="TimeValidReservation" display="Valid Time For Reservation" value="1" objecttype="int" code="5"  status="1"/>
            <setting name="IsShowDeleteeConfirmationForWholeOrder" display="Confirm Before Delete/Cancel Order" value="true" objecttype="bool" code="28" status="9"/>
            <setting name="CSCEmail" display="Email" value="softwaresales" objecttype="string" code="24" status="1"/>
            <setting name="IsPrintReportAfterEndShift" display="Print Report After End Shift" value="true" objecttype="bool" code="23" status="1"/>
            <setting name="HoldingTimeForReceiptScreenDonePayment" display="Time for holding Change Display after payment" value="10" objecttype="int" code="17"  status="1"/>
            <setting name="IsAllowOnlineBooking" display="Allow Online Booking" value="false" objecttype="bool" code="12" status="9"/>
            <setting name="IsShowDeleteConfirmationForSentItem" display="Confirm Before Delete Sent Item" value="false" objecttype="bool" code="27" status="9"/>
            <setting name="HomePageBackground" display="Home Page Background" value="" objecttype="string" code="1" status="1"/>
            <setting name="IsPrintTotalOrderChit" display="Print Total Order Chit" value="false" objecttype="bool" code="11" status="9"/>
            <setting name="ReceiptNoPrefix" display="Receipt Number Prefix" value="NS-1" objecttype="string" code="4" status="1"/>
            <setting name="OrderNoPrefix" display="Order Number Prefix" value="OR-1" objecttype="string" code="3" status="1"/>
            <setting name="RoudingDecimal" display="Rouding Decimal" value="2" objecttype="int" code="8" status="1"/>
            <setting name="IsPushData" display="Push Data For Report" value="false" objecttype="bool" code="19" status="1"/>
            <setting name="IsShowMoneyValueOnStore" display="Show/Hide money values on Store" value="false" objecttype="bool" code="16" status="1"/>
            <setting name="IsPrintReportAfterCloseDrawer" display="Print Report After Close Drawer" value="true" objecttype="bool" code="22" status="1"/>
            <setting name="UsingDirectPrinting" display="Using Direct Printing" value="true" objecttype="bool" code="21" status="1"/>
            <setting name="IsShowMoneyValueOnDrawer" display="Show/Hide money values on Drawer" value="false" objecttype="bool" code="15" status="1"/>
            <setting name="IsPrintConsolidated" display="Print Consolidated" value="false" objecttype="bool" code="14" status="9"/>
            <setting name="IsPrintSingleChit" display="Print Single Chit" value="false" objecttype="bool" code="10" status="9"/>
            <setting name="IsShowAllCategory" display="Show All Categories" value="false" objecttype="bool" code="29" status="1"/>
            <setting name="HoldingTimeForReservationBooking" display="Holding Time For Reservation Booking" value="5-5" objecttype="int" code="7" status="1"/>
            <setting name="StartedNo" display="Start Number" value="0" objecttype="int" code="26" status="1"/>
            <setting name="ShowValueInShift" display="Show Value In Shift" value="true" objecttype="bool" code="31" status="1"/>
            <setting name="Signature" display="Signature" value="1-Thankyou!" objecttype="string" code="2" status="1"/>
            <setting name="PrintItemTotalChit" display="Print Item Total Chit" value="false" objecttype="bool" code="20" status="9"/>
            <setting name="CSCPassword" display="Password" value="P@ssw0rd" objecttype="string" code="25" status="1"/>
            <setting name="TimeRemidCustomerForReservation" display="Amount of time in advance to remind customer for reservation" value="34" objecttype="int" code="6" status="1"/>
            <setting name="PopupTagNumber" display="Popup Tag Number" value="false" objecttype="bool" code="32" status="1"/>
            <setting name="ShowBarcode" display="Show Barcode" value="false" objecttype="bool" code="33" status="1"/>
            <setting name="TimeSlotPeriod" display="Timeslot Period" value="false" objecttype="int" code="34" status="1"/>
            <setting name="BookingType" display="Booking Type" value="false" objecttype="int" code="35" status="1"/>
            <setting name="PrintJobSheet" display="Print Job Sheet" value="false" objecttype="bool" code="36" status="1"/>
            <setting name="QuickCash" display="Quick Cash" value="false" objecttype="bool" code="37" status="1"/>
            <setting name="DayAllowForRefund" display="DayAllowForRefund" value="3" objecttype="int" code="38" status="1"/>
            <setting name="PrintReceiptConfirmation" display="Ask for print receipt" value="true" objecttype="bool" code="39" status="1"/>
            <setting name="FTPFolderReport" display="FTPFolderReport" value="ftp://115.78.191.245/FTPImages.nupox.poz/" objecttype="string" code="40" status="1"/>
            <setting name="FTPUser" display="FTPUser" value="ftpuser" objecttype="string" code="41" status="1"/>
            <setting name="FTPPassword" display="FTPPassword" value="UF@2016##" objecttype="string" code="42" status="1"/>
            <setting name="IsSubmitMallReport" display="IsSubmitMallReport" value="false" objecttype="bool" code="43" status="1"/>
            <setting name="MallReportMailTo" display="MallReportMailTo" value="hanvo@newstead.com.sg" objecttype="string" code="44" status="1"/>
            <setting name="MallReportFileNameFormat" display="MallReportFileNameFormat" value="0_1_2_3" objecttype="string" code="45" status="1"/>
            <setting name="MachineID" display="MachineID" value="8000395" objecttype="string" code="46" status="1"/>
            <setting name="IsNotifySubmitMallReport" display="IsNotifySubmitMallReport" value="true" objecttype="bool" code="47" status="1"/>
            <setting name="ThirdPartyIntegrationSaleIncluded" display="Include sales from 3rd party in MallReport" value="true" objecttype="bool" code="48" status="1"/>
            <setting name="UpdatePoinsReceipt" display="UpdatePoinsReceipt" value="false" objecttype="bool" code="49" status="1"/>
            <setting name="PrintEndDayReport" display="PrintEndDayReport" value="true" objecttype="bool" code="50" status="1"/>
            <setting name="IsSplitBillEqual" display="Is Split Bill Equal" value="true" objecttype="bool" code="51" status="1"/>
            <setting name="MakeTableAvailable" display="Make Table Available" value="true" objecttype="bool" code="52" status="1"/>
            <setting name="NumberOfLatestOrder" display="NumberOfLatestOrder" value="1" objecttype="int" code="53" status="1"/>
            <setting name="SoundPrepareScreen" display="Sound Prepare Screen" value="0" objecttype="string" code="54" status="1"/>
            <setting name="SoundServeScreen" display="Sound Serve Screen" value="1" objecttype="string" code="55" status="1"/>
            <setting name="SoundCallForBill" display="Sound Call For Bill" value="2" objecttype="string" code="56" status="1"/>
            <setting name="SoundCallForService" display="Sound Call For Service" value="3" objecttype="string" code="57" status="1"/>
            <setting name="ManualPromotion" display="Allow to manually choose promotions having same priority" value="0" objecttype="bool" code="58" status="1"/>
        </settings>

        <!-- ProductType Configurtion -->
        <producttypes>
            <producttype name="Products" display="Products" code="1" status="1"/>
            <producttype name="Supporting Services" display="Supporting Services" code="2" status="9"/>
            <producttype name="Discount" display="Discount" code="5" status="1"/>
            <producttype name="Promotion" display="Promotion" code="6" status="1"/>
            <producttype name="Packages" display="Packages" code="4" status="1"/>
            <producttype name="Services" display="Services" code="3" status="9"/>
        </producttypes>

        <!-- PrinterType Configuration -->
        <printertypes>
            <printertype name="Receipt" display="Receipt" code="4" status="1"/>
            <printertype name="TotalOrderChit" display="Total Order Chit" code="1" status="1"/>
            <printertype name="GueueTicket" display="Gueue Ticket" code="3" status="1"/>
            <printertype name="GuestCheck" display="Guest Check" code="2" status="1"/>
        </printertypes>

        <!-- PaymentMethod Configuration -->
        <paymentmethods>
            <paymentmethod name="Cash" display="Cash" code="1" status="1" ishasconfirmcode="false" isallowedkickdrawer="false" isincludedonsale="false" isgivebackchange="false" serialno="" fixedpayamount="0"/>
        </paymentmethods>

    </hierarchySection>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
