<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Translate.v2" version="1.25.0.543" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="PushSharp" version="4.0.10" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>